{% extends "base.html" %}

{% block header1 %}
	<div style="float: right;">
			{% if request.user %}
			<a href="/user/info">个人资料</a>
			<a href="/user/logout">退出</a>
			{% else %}
			<a href="/user/login">登录</a>
			{% endif %}

		</div>
		{% endblock %}


{%block content %}
	<div class="container">
		<h1 style="text-align: left;">{{article.title}}</h1>
		<span class="date">{{article.create}}</span>
		<div style="float: right;">
			<a href="/post/editor/?aid={{article.id}}">编辑</a>
			<a href="/post/delete/?aid={{article.id}}">删除</a>
		</div>
		<hr>

		<!-- 正文 -->
		<div>{{article.content | linebreaks}}</div>
		<hr>

		<div>
			{% for tag in tags %}

				<span><a href="/post/tag/?tid={{tag.id}}">{{tag.name}}</a></span>
				<!-- {{tag.name}} -->

			{% endfor %}

		</div>

		<hr>

		<!-- 评论 -->
		<div>
			<h3>发表评论：</h3>
			{% for c in comments %}
			<div>
				<div>At <span class="date">{{c.create}}</span> {{c.name}} 说：</div>
				<div>{{c.content | linebreaks}}</div>
			</div>
			<hr>
			{% endfor %}
		</div>

		<!-- 发表评论 -->
		<form method="POST" action="/post/comment/">
			{% csrf_token %}
			<div>姓名：<input type="text" name="name"></div>
			<div style="vertical-align: top;">
				<span style="vertical-align: top;">内容：</span>
				<textarea name="content" rows="5" cols="50"></textarea>
			</div>
			<input type="hidden" name="aid" value="{{article.id}}">
			<input type="submit" name="发表评论">
		</form>
		<hr>
		<div class="footer">当前访问数：{{post_views}}</div>
	</div>
{%endblock%}
