<!-- encodeing='utf-8' -->
{% extends "base.html" %}
{% block header1 %}
	<div style="float: right;">
			{% if request.user %}
			<a href="/user/info">个人资料</a>
			<a href="/user/logout">退出</a>
			{% else %}
			<a href="/user/login">登录</a>
			{% endif %}

		</div>
		{% endblock %}
	

{% block content %}

	{% for a in articles %}
	<div class="index">
		<span class="date">{{ a.date }}</span>
		<a href="/post/article/?aid={{a.id}}">{{a.title}}</a>
	</div>
	{% endfor %}

	{% for page in pages %}
	<a href="/post/home/?page={{forloop.counter}}">{{ forloop.counter }}</a>
	{% endfor %}

	<hr>
	<div>最热文章</div>
	{% for a, n in top10 %}
	<div class="index">
		<span class="date">{{ a.date }}</span>
		<a href="/post/article/?aid={{a.id}}">{{a.title}}</a>

		<span class="date" style="float: right;">访问数: {{n}}</span>
	</div>
	{% endfor %}
	<hr>
	<div>标签</div>
	

	{% for tag in tags %}
		

		<a href="#">{{tag.name}}</a>

	{% endfor %}
{% endblock %}
